<div class="container">
  <app-header></app-header>
  <app-entities></app-entities>
  <!--<app-speechtotext></app-speechtotext>-->
  <router-outlet></router-outlet>
  <!--<input type="text" [(ngModel)]='title' />-->
  
</div>
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Comandos de voz en la web con JavaScript y Annyang</h1>
      <a href="//parzibyte.me/blog" target="_blank">By Parzibyte</a>
      <p>
        <strong>Intenta con:</strong>
      </p>
    </div>
    <div class="col-6">
      <h2>Comandos reconocidos</h2>
      
      <div class="alert alert-success">
        <p id="comandosReconocidos"></p>
      </div>
      
    </div>
    <div class="col-6">
      <h2>Voz escuchada, sin reconocer</h2>
      <div class="alert alert-info">
        <p id="vozDetectada"></p>
      </div>
    </div>
  </div>
</main>
