<main role="main" class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Comandos de voz en la web con JavaScript y Annyang</h1>
      </div>
      <div class="col-6">
        <h2>Comandos reconocidos</h2>
        <!-- <button (click)="initializeVoiceRecognitionCallback()">Voice</button> -->
  
        <div class="alert alert-success">
          <p id="comandosReconocidos"></p>
        </div>
      </div>
      <div class="col-6">
        <h2>Voz escuchada, sin reconocer</h2>
        <div class="alert alert-info">
          <p id="vozDetectada"></p>
        </div>
      </div>
    </div>
  </main>
